@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-image: url('/pattern.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #1D2D4F;
  overflow: hidden;
}
